*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  
    font-family: Arial, sans-serif;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.product-card img {
    width: 200px;
    height: auto;
}

.product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card p {
    color: #555;
}

.product-card .price {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.product-card .rating {
    margin: 10px 0;
}

.product-card .rating span {
    color: #ffcc00;
    font-size: 1.2em;
}

.product-card button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #637888;
}